<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        Ini halaman html
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur pulvinar lacus, id congue justo tempor eu. Aenean tristique cursus turpis. Nullam congue quam in varius posuere. Etiam libero lacus, auctor vel maximus vel, tempor varius ante. Praesent eleifend est commodo nisi aliquam placerat. Pellentesque consequat consectetur enim, ut luctus neque blandit quis. Duis eu rhoncus purus. Quisque velit elit, rutrum ut faucibus eget, aliquam et nisl. Vestibulum tellus lectus, varius ac vehicula sed, auctor nec felis. Integer tincidunt mauris molestie condimentum viverra. Cras fermentum vitae sapien ut feugiat. Ut mollis faucibus nunc, ac bibendum nibh pharetra sit amet. Nunc.
    </p>
    <img src="https://images.app.goo.gl/869mQm7oLDVukwWbA">
    <img src="localhost:5000/file/reylo.jpg">
    <a href="/karyawan">Ke /karyawan</a>
</body>
</html>